@using vidly.Static_data;
@{
    ViewBag.Title = StaticData.AppTitle;
}

<div class="jumbotron">
    <h1>@StaticData.AppTitle App</h1>
    <p class="lead">Welcome to @StaticData.AppTitle App</p>
</div>

