@using vidly.Static_data;
@using vidly.Models;
@{
    ViewBag.Title = StaticData.AppTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("New Movie", "New", "Movies", new { @class = "btn btn-primary" })
</p>

@*@if (Model == null)
{
    <p>We don't have any movies yet.</p>
}
else
{*@
    <table id="moviesTable" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(((Movie)movie).Name, "Edit", "Movies", new { Id = movie.Id }, null)</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }*@
        </tbody>
    </table>
@*}*@

@section scripts
{
    <script>
        $(document).ready(function () {
            let moviesTable = $("#moviesTable").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, row) {
                            return "<a href='/movies/edit/" + row.id + "'>" + row.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + "> Delete </button>";
                        }
                    }
                ]
            });

            $("#moviesTable").on("click", ".js-delete", function () {
                let deleteBtn = $(this);
                bootbox.confirm("Are you sure you want to delete this movie ?", function (result) {
                    if (result) {
                        let movieId = deleteBtn.attr("data-movie-id");
                        deleteMovie(moviesTable, deleteBtn, movieId);
                    }
                });
            });
        });

        function deleteMovie(moviesTable, deleteBtn, movieId) {
            $.ajax({
                url: "/api/movies/" + movieId,
                method: "DELETE",
                success: removeDatatableRowData(moviesTable, deleteBtn)
            });
        }

        function removeDatatableRowData(moviesTable, deleteBtn) {
            moviesTable.row(deleteBtn.parents("tr")).remove().draw();
        }
    </script>
}

