@using vidly.Static_data;
@{
    ViewBag.Title = StaticData.AppTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var movieNameClass = Model.Customers.Count > 5 ? "Popular" : null;
}

<h2 class="@movieNameClass">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <h3>No customers have rented this movie.</h3>
}
else
{
    <h3>Customers:</h3>
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

