
@{
    ViewBag.Title = "New Rental Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Rental Form</h2>

<form>
    <div class="form-group">
        <label>Customer</label>
        <input id="customer" type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Movie</label>
        <input type="text" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    <script>
        $(document).ready(function () {

            let viewModel = {};
            let customersSource = setupBloodHound('/api/customers?query=%QUERY', '%QUERY', 'name');

            setupTypeAhead('#customer', 'customers', 'name', customersSource, function (event, customer) {
                viewModel.customerId = customer.id;
            });

            function setupBloodHound(url, wildCard, datumTokenizer) {
                return new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace(datumTokenizer),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: url,
                        wildcard: wildCard
                    }
                });
            }

            function setupTypeAhead(inputSelector, name, display, source, onTypeAheadCallBack) {
                $(inputSelector).typeahead({
                    minLength: 3,
                    highlight: true
                }, {
                    name: name,
                    display: display,
                    source: source
                }).on("typeahead:select", onTypeAheadCallBack);
            }
        });
    </script>
}
